<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.the.harbor.dao.mapper.interfaces.HyGoJoinMapper" >
  <resultMap id="BaseResultMap" type="com.the.harbor.dao.mapper.bo.HyGoJoin" >
    <id column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="GO_ID" property="goId" jdbcType="VARCHAR" />
    <result column="GO_TYPE" property="goType" jdbcType="VARCHAR" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="STS_DATE" property="stsDate" jdbcType="TIMESTAMP" />
    <result column="HELP_VALUE" property="helpValue" jdbcType="VARCHAR" />
    <result column="PAY_ORDER_ID" property="payOrderId" jdbcType="VARCHAR" />
    <result column="GIVE_HB" property="giveHb" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDER_ID, USER_ID, GO_ID, GO_TYPE, ORDER_STATUS, CREATE_DATE, STS_DATE, HELP_VALUE, 
    PAY_ORDER_ID, GIVE_HB
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.the.harbor.dao.mapper.bo.HyGoJoinCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from hy_go_join
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hy_go_join
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hy_go_join
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.the.harbor.dao.mapper.bo.HyGoJoinCriteria" >
    delete from hy_go_join
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.the.harbor.dao.mapper.bo.HyGoJoin" >
    insert into hy_go_join (ORDER_ID, USER_ID, GO_ID, 
      GO_TYPE, ORDER_STATUS, CREATE_DATE, 
      STS_DATE, HELP_VALUE, PAY_ORDER_ID, 
      GIVE_HB)
    values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{goId,jdbcType=VARCHAR}, 
      #{goType,jdbcType=VARCHAR}, #{orderStatus,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{stsDate,jdbcType=TIMESTAMP}, #{helpValue,jdbcType=VARCHAR}, #{payOrderId,jdbcType=VARCHAR}, 
      #{giveHb,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.the.harbor.dao.mapper.bo.HyGoJoin" >
    insert into hy_go_join
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="goId != null" >
        GO_ID,
      </if>
      <if test="goType != null" >
        GO_TYPE,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="stsDate != null" >
        STS_DATE,
      </if>
      <if test="helpValue != null" >
        HELP_VALUE,
      </if>
      <if test="payOrderId != null" >
        PAY_ORDER_ID,
      </if>
      GIVE_HB,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="goId != null" >
        #{goId,jdbcType=VARCHAR},
      </if>
      <if test="goType != null" >
        #{goType,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stsDate != null" >
        #{stsDate,jdbcType=TIMESTAMP},
      </if>
      <if test="helpValue != null" >
        #{helpValue,jdbcType=VARCHAR},
      </if>
      <if test="payOrderId != null" >
        #{payOrderId,jdbcType=VARCHAR},
      </if>
      #{giveHb,jdbcType=INTEGER},
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.the.harbor.dao.mapper.bo.HyGoJoinCriteria" resultType="java.lang.Integer" >
    select count(*) from hy_go_join
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hy_go_join
    <set >
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.goId != null" >
        GO_ID = #{record.goId,jdbcType=VARCHAR},
      </if>
      <if test="record.goType != null" >
        GO_TYPE = #{record.goType,jdbcType=VARCHAR},
      </if>
      <if test="record.orderStatus != null" >
        ORDER_STATUS = #{record.orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.stsDate != null" >
        STS_DATE = #{record.stsDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.helpValue != null" >
        HELP_VALUE = #{record.helpValue,jdbcType=VARCHAR},
      </if>
      <if test="record.payOrderId != null" >
        PAY_ORDER_ID = #{record.payOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.giveHb != null" >
        GIVE_HB = #{record.giveHb,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hy_go_join
    set ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      GO_ID = #{record.goId,jdbcType=VARCHAR},
      GO_TYPE = #{record.goType,jdbcType=VARCHAR},
      ORDER_STATUS = #{record.orderStatus,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      STS_DATE = #{record.stsDate,jdbcType=TIMESTAMP},
      HELP_VALUE = #{record.helpValue,jdbcType=VARCHAR},
      PAY_ORDER_ID = #{record.payOrderId,jdbcType=VARCHAR},
      GIVE_HB = #{record.giveHb,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.the.harbor.dao.mapper.bo.HyGoJoin" >
    update hy_go_join
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="goId != null" >
        GO_ID = #{goId,jdbcType=VARCHAR},
      </if>
      <if test="goType != null" >
        GO_TYPE = #{goType,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stsDate != null" >
        STS_DATE = #{stsDate,jdbcType=TIMESTAMP},
      </if>
      <if test="helpValue != null" >
        HELP_VALUE = #{helpValue,jdbcType=VARCHAR},
      </if>
      <if test="payOrderId != null" >
        PAY_ORDER_ID = #{payOrderId,jdbcType=VARCHAR},
      </if>
      <if test="giveHb != null" >
        GIVE_HB = #{giveHb,jdbcType=INTEGER},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.the.harbor.dao.mapper.bo.HyGoJoin" >
    update hy_go_join
    set USER_ID = #{userId,jdbcType=VARCHAR},
      GO_ID = #{goId,jdbcType=VARCHAR},
      GO_TYPE = #{goType,jdbcType=VARCHAR},
      ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      STS_DATE = #{stsDate,jdbcType=TIMESTAMP},
      HELP_VALUE = #{helpValue,jdbcType=VARCHAR},
      PAY_ORDER_ID = #{payOrderId,jdbcType=VARCHAR},
      GIVE_HB = #{giveHb,jdbcType=INTEGER}
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>