<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.the.harbor.dao.mapper.interfaces.HyGoMapper" >
  <resultMap id="BaseResultMap" type="com.the.harbor.dao.mapper.bo.HyGo" >
    <id column="GO_ID" property="goId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="GO_TYPE" property="goType" jdbcType="VARCHAR" />
    <result column="TOPIC" property="topic" jdbcType="VARCHAR" />
    <result column="INVITE_MEMBERS" property="inviteMembers" jdbcType="VARCHAR" />
    <result column="EXPECTED_START_TIME" property="expectedStartTime" jdbcType="VARCHAR" />
    <result column="EXPECTED_DURATION" property="expectedDuration" jdbcType="VARCHAR" />
    <result column="PAY_MODE" property="payMode" jdbcType="VARCHAR" />
    <result column="FIXED_PRICE" property="fixedPrice" jdbcType="BIGINT" />
    <result column="ORG_MODE" property="orgMode" jdbcType="VARCHAR" />
    <result column="LOCATION" property="location" jdbcType="VARCHAR" />
    <result column="MY_STORY" property="myStory" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    GO_ID, USER_ID, GO_TYPE, TOPIC, INVITE_MEMBERS, EXPECTED_START_TIME, EXPECTED_DURATION, 
    PAY_MODE, FIXED_PRICE, ORG_MODE, LOCATION, MY_STORY, STATUS, CREATE_DATE, END_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.the.harbor.dao.mapper.bo.HyGoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from hy_go
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hy_go
    where GO_ID = #{goId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hy_go
    where GO_ID = #{goId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.the.harbor.dao.mapper.bo.HyGoCriteria" >
    delete from hy_go
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.the.harbor.dao.mapper.bo.HyGo" >
    insert into hy_go (GO_ID, USER_ID, GO_TYPE, 
      TOPIC, INVITE_MEMBERS, EXPECTED_START_TIME, 
      EXPECTED_DURATION, PAY_MODE, FIXED_PRICE, 
      ORG_MODE, LOCATION, MY_STORY, 
      STATUS, CREATE_DATE, END_DATE
      )
    values (#{goId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{goType,jdbcType=VARCHAR}, 
      #{topic,jdbcType=VARCHAR}, #{inviteMembers,jdbcType=VARCHAR}, #{expectedStartTime,jdbcType=VARCHAR}, 
      #{expectedDuration,jdbcType=VARCHAR}, #{payMode,jdbcType=VARCHAR}, #{fixedPrice,jdbcType=BIGINT}, 
      #{orgMode,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{myStory,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.the.harbor.dao.mapper.bo.HyGo" >
    insert into hy_go
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goId != null" >
        GO_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="goType != null" >
        GO_TYPE,
      </if>
      <if test="topic != null" >
        TOPIC,
      </if>
      <if test="inviteMembers != null" >
        INVITE_MEMBERS,
      </if>
      <if test="expectedStartTime != null" >
        EXPECTED_START_TIME,
      </if>
      <if test="expectedDuration != null" >
        EXPECTED_DURATION,
      </if>
      <if test="payMode != null" >
        PAY_MODE,
      </if>
      FIXED_PRICE,
      <if test="orgMode != null" >
        ORG_MODE,
      </if>
      <if test="location != null" >
        LOCATION,
      </if>
      <if test="myStory != null" >
        MY_STORY,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goId != null" >
        #{goId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="goType != null" >
        #{goType,jdbcType=VARCHAR},
      </if>
      <if test="topic != null" >
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="inviteMembers != null" >
        #{inviteMembers,jdbcType=VARCHAR},
      </if>
      <if test="expectedStartTime != null" >
        #{expectedStartTime,jdbcType=VARCHAR},
      </if>
      <if test="expectedDuration != null" >
        #{expectedDuration,jdbcType=VARCHAR},
      </if>
      <if test="payMode != null" >
        #{payMode,jdbcType=VARCHAR},
      </if>
      #{fixedPrice,jdbcType=BIGINT},
      <if test="orgMode != null" >
        #{orgMode,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="myStory != null" >
        #{myStory,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.the.harbor.dao.mapper.bo.HyGoCriteria" resultType="java.lang.Integer" >
    select count(*) from hy_go
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hy_go
    <set >
      <if test="record.goId != null" >
        GO_ID = #{record.goId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.goType != null" >
        GO_TYPE = #{record.goType,jdbcType=VARCHAR},
      </if>
      <if test="record.topic != null" >
        TOPIC = #{record.topic,jdbcType=VARCHAR},
      </if>
      <if test="record.inviteMembers != null" >
        INVITE_MEMBERS = #{record.inviteMembers,jdbcType=VARCHAR},
      </if>
      <if test="record.expectedStartTime != null" >
        EXPECTED_START_TIME = #{record.expectedStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.expectedDuration != null" >
        EXPECTED_DURATION = #{record.expectedDuration,jdbcType=VARCHAR},
      </if>
      <if test="record.payMode != null" >
        PAY_MODE = #{record.payMode,jdbcType=VARCHAR},
      </if>
      <if test="record.fixedPrice != null" >
        FIXED_PRICE = #{record.fixedPrice,jdbcType=BIGINT},
      </if>
      <if test="record.orgMode != null" >
        ORG_MODE = #{record.orgMode,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null" >
        LOCATION = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.myStory != null" >
        MY_STORY = #{record.myStory,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDate != null" >
        END_DATE = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hy_go
    set GO_ID = #{record.goId,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      GO_TYPE = #{record.goType,jdbcType=VARCHAR},
      TOPIC = #{record.topic,jdbcType=VARCHAR},
      INVITE_MEMBERS = #{record.inviteMembers,jdbcType=VARCHAR},
      EXPECTED_START_TIME = #{record.expectedStartTime,jdbcType=VARCHAR},
      EXPECTED_DURATION = #{record.expectedDuration,jdbcType=VARCHAR},
      PAY_MODE = #{record.payMode,jdbcType=VARCHAR},
      FIXED_PRICE = #{record.fixedPrice,jdbcType=BIGINT},
      ORG_MODE = #{record.orgMode,jdbcType=VARCHAR},
      LOCATION = #{record.location,jdbcType=VARCHAR},
      MY_STORY = #{record.myStory,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      END_DATE = #{record.endDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.the.harbor.dao.mapper.bo.HyGo" >
    update hy_go
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="goType != null" >
        GO_TYPE = #{goType,jdbcType=VARCHAR},
      </if>
      <if test="topic != null" >
        TOPIC = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="inviteMembers != null" >
        INVITE_MEMBERS = #{inviteMembers,jdbcType=VARCHAR},
      </if>
      <if test="expectedStartTime != null" >
        EXPECTED_START_TIME = #{expectedStartTime,jdbcType=VARCHAR},
      </if>
      <if test="expectedDuration != null" >
        EXPECTED_DURATION = #{expectedDuration,jdbcType=VARCHAR},
      </if>
      <if test="payMode != null" >
        PAY_MODE = #{payMode,jdbcType=VARCHAR},
      </if>
      <if test="fixedPrice != null" >
        FIXED_PRICE = #{fixedPrice,jdbcType=BIGINT},
      </if>
      <if test="orgMode != null" >
        ORG_MODE = #{orgMode,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        LOCATION = #{location,jdbcType=VARCHAR},
      </if>
      <if test="myStory != null" >
        MY_STORY = #{myStory,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where GO_ID = #{goId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.the.harbor.dao.mapper.bo.HyGo" >
    update hy_go
    set USER_ID = #{userId,jdbcType=VARCHAR},
      GO_TYPE = #{goType,jdbcType=VARCHAR},
      TOPIC = #{topic,jdbcType=VARCHAR},
      INVITE_MEMBERS = #{inviteMembers,jdbcType=VARCHAR},
      EXPECTED_START_TIME = #{expectedStartTime,jdbcType=VARCHAR},
      EXPECTED_DURATION = #{expectedDuration,jdbcType=VARCHAR},
      PAY_MODE = #{payMode,jdbcType=VARCHAR},
      FIXED_PRICE = #{fixedPrice,jdbcType=BIGINT},
      ORG_MODE = #{orgMode,jdbcType=VARCHAR},
      LOCATION = #{location,jdbcType=VARCHAR},
      MY_STORY = #{myStory,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP}
    where GO_ID = #{goId,jdbcType=VARCHAR}
  </update>
</mapper>