<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.the.harbor.dao.mapper.interfaces.HyTagsMapper" >
  <resultMap id="BaseResultMap" type="com.the.harbor.dao.mapper.bo.HyTags" >
    <id column="TAG_ID" property="tagId" jdbcType="VARCHAR" />
    <result column="TAG_TYPE" property="tagType" jdbcType="VARCHAR" />
    <result column="TAG_NAME" property="tagName" jdbcType="VARCHAR" />
    <result column="SORT_ID" property="sortId" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="SCOPE_TYPE" property="scopeType" jdbcType="VARCHAR" />
    <result column="TAG_CAT" property="tagCat" jdbcType="VARCHAR" />
    <result column="IS_POLY" property="isPoly" jdbcType="VARCHAR" />
    <result column="POLY_TAG_ID" property="polyTagId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TAG_ID, TAG_TYPE, TAG_NAME, SORT_ID, STATUS, SCOPE_TYPE, TAG_CAT, IS_POLY, POLY_TAG_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.the.harbor.dao.mapper.bo.HyTagsCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from hy_tags
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hy_tags
    where TAG_ID = #{tagId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hy_tags
    where TAG_ID = #{tagId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.the.harbor.dao.mapper.bo.HyTagsCriteria" >
    delete from hy_tags
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.the.harbor.dao.mapper.bo.HyTags" >
    insert into hy_tags (TAG_ID, TAG_TYPE, TAG_NAME, 
      SORT_ID, STATUS, SCOPE_TYPE, 
      TAG_CAT, IS_POLY, POLY_TAG_ID
      )
    values (#{tagId,jdbcType=VARCHAR}, #{tagType,jdbcType=VARCHAR}, #{tagName,jdbcType=VARCHAR}, 
      #{sortId,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{scopeType,jdbcType=VARCHAR}, 
      #{tagCat,jdbcType=VARCHAR}, #{isPoly,jdbcType=VARCHAR}, #{polyTagId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.the.harbor.dao.mapper.bo.HyTags" >
    insert into hy_tags
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        TAG_ID,
      </if>
      <if test="tagType != null" >
        TAG_TYPE,
      </if>
      <if test="tagName != null" >
        TAG_NAME,
      </if>
      SORT_ID,
      <if test="status != null" >
        STATUS,
      </if>
      <if test="scopeType != null" >
        SCOPE_TYPE,
      </if>
      <if test="tagCat != null" >
        TAG_CAT,
      </if>
      <if test="isPoly != null" >
        IS_POLY,
      </if>
      <if test="polyTagId != null" >
        POLY_TAG_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=VARCHAR},
      </if>
      <if test="tagType != null" >
        #{tagType,jdbcType=VARCHAR},
      </if>
      <if test="tagName != null" >
        #{tagName,jdbcType=VARCHAR},
      </if>
      #{sortId,jdbcType=INTEGER},
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="scopeType != null" >
        #{scopeType,jdbcType=VARCHAR},
      </if>
      <if test="tagCat != null" >
        #{tagCat,jdbcType=VARCHAR},
      </if>
      <if test="isPoly != null" >
        #{isPoly,jdbcType=VARCHAR},
      </if>
      <if test="polyTagId != null" >
        #{polyTagId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.the.harbor.dao.mapper.bo.HyTagsCriteria" resultType="java.lang.Integer" >
    select count(*) from hy_tags
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hy_tags
    <set >
      <if test="record.tagId != null" >
        TAG_ID = #{record.tagId,jdbcType=VARCHAR},
      </if>
      <if test="record.tagType != null" >
        TAG_TYPE = #{record.tagType,jdbcType=VARCHAR},
      </if>
      <if test="record.tagName != null" >
        TAG_NAME = #{record.tagName,jdbcType=VARCHAR},
      </if>
      <if test="record.sortId != null" >
        SORT_ID = #{record.sortId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.scopeType != null" >
        SCOPE_TYPE = #{record.scopeType,jdbcType=VARCHAR},
      </if>
      <if test="record.tagCat != null" >
        TAG_CAT = #{record.tagCat,jdbcType=VARCHAR},
      </if>
      <if test="record.isPoly != null" >
        IS_POLY = #{record.isPoly,jdbcType=VARCHAR},
      </if>
      <if test="record.polyTagId != null" >
        POLY_TAG_ID = #{record.polyTagId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hy_tags
    set TAG_ID = #{record.tagId,jdbcType=VARCHAR},
      TAG_TYPE = #{record.tagType,jdbcType=VARCHAR},
      TAG_NAME = #{record.tagName,jdbcType=VARCHAR},
      SORT_ID = #{record.sortId,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=VARCHAR},
      SCOPE_TYPE = #{record.scopeType,jdbcType=VARCHAR},
      TAG_CAT = #{record.tagCat,jdbcType=VARCHAR},
      IS_POLY = #{record.isPoly,jdbcType=VARCHAR},
      POLY_TAG_ID = #{record.polyTagId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.the.harbor.dao.mapper.bo.HyTags" >
    update hy_tags
    <set >
      <if test="tagType != null" >
        TAG_TYPE = #{tagType,jdbcType=VARCHAR},
      </if>
      <if test="tagName != null" >
        TAG_NAME = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null" >
        SORT_ID = #{sortId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="scopeType != null" >
        SCOPE_TYPE = #{scopeType,jdbcType=VARCHAR},
      </if>
      <if test="tagCat != null" >
        TAG_CAT = #{tagCat,jdbcType=VARCHAR},
      </if>
      <if test="isPoly != null" >
        IS_POLY = #{isPoly,jdbcType=VARCHAR},
      </if>
      <if test="polyTagId != null" >
        POLY_TAG_ID = #{polyTagId,jdbcType=VARCHAR},
      </if>
    </set>
    where TAG_ID = #{tagId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.the.harbor.dao.mapper.bo.HyTags" >
    update hy_tags
    set TAG_TYPE = #{tagType,jdbcType=VARCHAR},
      TAG_NAME = #{tagName,jdbcType=VARCHAR},
      SORT_ID = #{sortId,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=VARCHAR},
      SCOPE_TYPE = #{scopeType,jdbcType=VARCHAR},
      TAG_CAT = #{tagCat,jdbcType=VARCHAR},
      IS_POLY = #{isPoly,jdbcType=VARCHAR},
      POLY_TAG_ID = #{polyTagId,jdbcType=VARCHAR}
    where TAG_ID = #{tagId,jdbcType=VARCHAR}
  </update>
</mapper>